@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('~typeface-lato/files/lato-latin-400.woff');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('~typeface-lato/files/lato-latin-400italic.woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('~typeface-lato/files/lato-latin-700.woff');
}

$fa-font-path: "~font-awesome/fonts";
@import 'themecolors';
@import '~font-awesome/scss/font-awesome.scss';

@import "variables";
@import "~bootstrap/scss/bootstrap.scss";
@import "bootswatch";
@import "~bootstrap-material-design/scss/bootstrap-material-design.scss";
@import "~react-table/react-table.css";

$theme-font: verdana, sans-serif;
/*
body {
  font: $theme-font;
  color: $themeColor-Light;
  background-color: $themeColor-Light;
  background-image: url('../images/background_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  h1, h2 {
      color: $themeColor-Dark
  }
}*/

.list-item {
  background-image: url('../images/mapmarker.svg');
  background-repeat: no-repeat;
  padding-left: 20px;
}

.dropdown-menu{
  width: 100%;
}